.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

body{
    background-image: url('http://cs-server.usc.edu:45678/hw/hw8/images/background.png');
}

/* #page1-1{

    width: 20%;
    margin-left: 10px;
    margin-top: 50px;
    display:inline-block;
}
#page1-2{

    width: 50%;
    margin-top: 15px;
    display:inline-block;
}
#page1-3{

    width: 30%;
    margin-top: 50px;
    display:inline-block;
} */

.page1_1_whole{
    /* height: 50px; */
    margin-bottom: 50px;
}

.page1_2_inner_whole{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Favoriate_List{
    float:left;
    
}
.page_2_left_button{
    float:left;
}

.toggle_part{
    float:right;
}

.sort_by{
    width:10%;
    display:inline-block;
}

.order{
    width:10%;
    display:inline-block;
}
.dropdown1{
    width:20%;
    display:inline-block;
}
.dropdown2{
    width:20%;
    display:inline-block;
}

.dropdownpart{
    margin-bottom: 10px;
}
#page2_table_stockdetails{
    float: left;
}
/* 
#page2_table_favoritefb{
   float: right;
} */

#page2_below{

}
#page2_table{
    /* width: 48%; */
    /* height: 390px; */
    float: left;

}

#page2_chart{
    /* width: 52%; */
    /* height: 300px; */
    float: right;


}
#stockdetailsfavfb{
    margin-top: 10px;

}

#table_part{
    margin-top: 50px;
}